<h2>Sve sale:</h2>
<div class='card'>
    <div class='card-body'>
        <div class='table-responsive'>
        <table class='table'
                *ngIf='sale'>
            <thead>
            <tr>
                <th>ID sale</th>
                <th>Naziv sale</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let sala of sale'>
                <td>{{ sala.id }}</td>
                <td>{{ sala.naziv }}</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>


<div>
    <h3>Dodavanje nove sale:</h3>

    <form class="dodajSalu" (ngSubmit) = "onSubmit()" #salaForm="ngForm">
        <label>Naziv sale</label>
        <input type="text" placeholder="Naziv sale" required name="naziv" #naziv="ngModel" [(ngModel)] = "sala.naziv">
        <input type="submit" value="Dodaj" class="btn btn-info">
    </form>
</div>


<div>
    <button (click)='onBack()' class="btn btn-info">Nazad</button>
</div>
