<h2>Svi tipovi pregleda:</h2>

<div class='card'>
    <div class='card-body'>
      <div class='table-responsive'>
        <table class='table'
               *ngIf='tipovi'>
          <thead>
            <tr>
              <th>Naziv tipa</th>
              <th>Slobodan tip</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let tip of tipovi'>
              <td>{{ tip.nazivTipa }}</td>
              <td>{{ tip.slobodan ? 'Nema zakazanih pregleda' : 'Ima zakazanih pregleda'}}</td>
              <td><button *ngIf="tip.slobodan" class="btn btn-info" (click) = "obrisiTip(tip)">Obrisi tip</button></td>
              <td><button *ngIf="tip.slobodan" class="btn btn-info">Izmeni tip</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<div>
  <h3>Dodavanje novog tipa:</h3>

  <form class="dodajTip" (ngSubmit) = "onSubmit()" #tipForm="ngForm">
      <label>Naziv tipa</label>
      <input type="text" placeholder="Naziv tipa" required name="naziv" #naziv="ngModel" [(ngModel)] = "tip.nazivTipa">
      <input type="submit" value="Dodaj" class="btn btn-info">
  </form>
</div>

<div>
    <button (click)='onBack()' class="btn btn-info">Nazad</button>
</div>
