<p>tipovi-pregleda works!</p>

<div class='card'>
    <div class='card-body'>
      <div class='table-responsive'>
        <table class='table'
               *ngIf='tipovi'>
          <thead>
            <tr>
              <th>ID Tipa</th>
              <th>Naziv</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let tip of tipovi'>
              <td>{{ tip.id }}</td>
              <td>{{ tip.nazivTipa }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<div>
    <button (click)='onBack()'>Nazad</button>
</div>
