<div class='card'>
  <div class='card-body'>
    <div class='row' >Pretrazu  klinike</div>
    <div class="row">
      <div class='col-md-2'>Pretrazi po adresi</div>
      <div class='col-md-4'><input type="text" [(ngModel)]='adresaKlinike'></div>
      <div class='col-md-2'>Pretrazi po tipu</div>
       <select name="nameTip"  #nameTip="ngModel" [(ngModel)] = "izabraniTip">
        <option *ngFor="let tip of tipoviKlinika" [ngValue]="tip"> {{ tip.nazivTipa }} </option>
    </select>
    </div>
    <div class="row"><input type="submit" value="Pretrazi" (click)='preuzmiZaPretragu()'></div>

<div class='card'>
    <div class='card-body'>
      <div class='row' >Filtriraj  klinike</div>
      <div class="row">
        <div class='col-md-2'>Filtriraj po imenu</div>
        <div class='col-md-4'><input type="text" [(ngModel)]='imeKlinike'></div>
      </div>
     
      <div class='table-responsive'>
        <table class='table'
               *ngIf='filtriraneKlinike'>
          <thead>
            <tr>
              <th>Naziv</th>
              <th>Adresa</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let klinika of filtriraneKlinike'>
              <td>{{ klinika.ime }}</td>
              <td>{{ klinika.adresa }}</td>
              <td><button class="btn btn-info" (click)='idiNaListuLekara(klinika)'>Vidi lekare klinike</button></td>
              <td><button class="btn btn-info" (click)='idiNaPreglede(klinika)'>Vidi unapred definisane preglede klinike</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>



<div class='card' *ngIf='prikaziLekare'>
<h2>Svi Lekari klinike:{{izabranaKlinika.ime}}</h2>

<div>

      <div class="row">
        <div class='col-md-2'>Pretrazi po imenu</div>
        <div class='col-md-4'><input type="text" [(ngModel)]='imeLekara'></div>
      </div>
      <div class="row">
          <div class='col-md-2'>Pretrazi po prezimenu</div>
          <div class='col-md-4'><input type="text" [(ngModel)]='prezimeLekara'></div>
        </div>
        <div class="row" *ngIf='!dugmeZaPretraguKlinike'>
          <div class='col-md-2'>Pretrazi po tipu pregleda</div>
          <div class='col-md-4'><select name="nameTip"  #nameTip="ngModel" [(ngModel)] = "izabraniTip2">
            <option *ngFor="let tip of tipoviIzabraneKlinike" [ngValue]="tip"> {{ tip.nazivTipa }} </option>
        </select></div>
        </div>
      <div class="row"><input type="submit" value="Pretrazi" (click)='pretraziLekare()'></div>

</div>


    <div class='card-body'>
        <div class='table-responsive'>
        <table class='table'
                *ngIf='lekari'>
            <thead>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Email</th>
                <th>Grad</th>
                <th>Drzava</th>
                <th>Adresa</th>
                <th>Telefon</th>
                <th>Radno vreme</th>
                <th>Zauzetost</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let lekar of lekari'>
                <td>{{ lekar.ime }}</td>
                <td>{{ lekar.prezime }}</td>
                <td>{{ lekar.email }}</td>
                <td>{{ lekar.grad }}</td>
                <td>{{ lekar.drzava }}</td>
                <td>{{ lekar.adresa }}</td>
                <td>{{ lekar.telefon }}</td>
                <td>{{ lekar.radnoVremeOd }} -- {{ lekar.radnoVremeDo }}</td>
                <td>{{ lekar.slobodan ? 'Nema zakazan pregled' : 'Ima zakazan pregled'}}</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div>
      <button (click)='nazad()'>Prikazi ponovo</button>
  </div>
</div>

<div class='table-responsive' >
  <table class='table'
         *ngIf='dugmeZaPrikazPregleda'>
    <thead>
      <tr>
        <th>ID Pregleda</th>
        <th>Datum Pregleda</th>
        <th>Lekar</th>
        <th>Sala</th>
        <th>Tip pregleda</th>
        <th>Cena Pregleda</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let pregled of preglediKlinike; index as i'>
        <td>{{ pregled.id }}</td>
        <td>{{ pregled.datumVreme }}</td>
        <td>{{  izabraniLekari[i].ime }}</td>
        <td>{{ izabraneSale[i].naziv }}</td>
        <td>{{ izabraniTipovi[i].nazivTipa }}</td>
        <td>{{ pregled.cena }}</td>
        <td><button class="btn btn-info">Rezervisi</button></td>
      </tr>
    </tbody>
  </table>
</div>


<div>
    <button (click)='onBack()'>Nazad</button>
</div>