<div class="ocenaLekara">
<div class='table-responsive'>
    <table class='table'
           *ngIf='lekari'>
      <thead>
        <tr>
          <th>Termin pregleda</th>
          <th>Ime lekara</th>
          <th>Prezime lekara</th>
          <th>Ocena lekara</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let lekar of lekari;index as i'>
          <td >{{ datumiPregleda[i] }}</td>
          <td >{{ lekar.ime }}</td>
          <td >{{ lekar.prezime }}</td>
         <td ><input type="number" [(ngModel)]='ocenaLekara'></td>
          <td ><button class="btn btn-info" (click)='oceni(lekar)'>Oceni</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="ocenaKlinika">
    <div class='table-responsive'>
        <table class='table'
               *ngIf='klinike'>
          <thead>
            <tr>
              <th>Termin pregleda</th>
              <th>Ime klinike</th>
              <th>Adresa klinike</th>
              <th>Ocena klinike</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let klinika of klinike;index as i'>
              <td >{{ datumiPregleda[i] }}</td>
              <td >{{ klinika.ime }}</td>
              <td >{{ klinika.adresa }}</td>
             <td ><input type="number" [(ngModel)]='ocenaKlinike'></td>
              <td ><button class="btn btn-info" (click)='oceniKliniku(klinika)'>Oceni</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>