<div class='card-body'>
    <div class='table-responsive'>
        <h3>Lista zahteva za odobriti:</h3>
    <table class='table'
            *ngIf='zahtevi'>
        <thead>
        <tr>
            <th>Id zahteva</th>
            <th>Id Pacijenta</th>
            <th>Id Lekara</th>
            <th>Datum i vreme zahteva</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let zahtev of zahtevi'>
            <td>{{ zahtev.id }}</td>
            <td>{{ zahtev.idPacijenta }}</td>
            <td>{{ zahtev.idLekara }}</td>
            <td>{{ zahtev.datumVreme }}</td>
            <td><button class="btn btn-info" (click)='odobriZahtev(zahtev)' *ngIf='!zahtev.odradjen'>Odobri zahtev</button>
                <span *ngIf='zahtev.odradjen'>Zahtev je odradjen.</span>
            </td>
        </tr>
        </tbody>
    </table>
    </div>

</div>

<div class='card'>
    <div class='card-body'>
        <button (click)='onBack()' class="btn btn-info">Nazad</button>
    </div>
</div>