<div>

  <div class="row">
    <div class='col-md-2'>Pretrazi po imenu</div>
    <div class='col-md-4'><input type="text" [(ngModel)]='imePacijenta'></div>
  </div>
  <div class="row">
      <div class='col-md-2'>Pretrazi po prezimenu</div>
      <div class='col-md-4'><input type="text" [(ngModel)]='prezimePacijenta'></div>
    </div>
    <div class="row">
      <div class='col-md-2'>Pretrazi po jedinstvenom broju</div>
      <div class='col-md-4'><input type="text" [(ngModel)]='brojPacijenta'></div>
    </div>
  <div class="row"><input type="submit" value="Pretrazi" (click)='preuzmiZaPretragu()'></div>

</div>

<div *ngIf='dugmeZaPretragu==false'>
  <h3>Pacijenti i pregledi koji su zakazani:</h3>
<div class='table-responsive'>
    <table class='table'
           *ngIf='zakazaniPregledi'>
      <thead>
        <tr>
          <th>Ime pacijenta</th>
          <th>Prezime pacijenta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let pregled of zakazaniPregledi; index as i'>
          <td>{{pacijentiZaPregled[i].ime }}</td>
          <td>{{pacijentiZaPregled[i].prezime }}</td>
          <td><button class="btn btn-info" (click)='zapocniPregled(pregled)'>Zapocni pregled</button></td>
          <td><button class="btn btn-info" (click)='vidiProfil(pacijentiZaPregled[i].id)'>Vidi profil pacijenta</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf='odgovor' style="color: red;">Pregled je vec odradjen</div>


 
<div *ngIf='dugmeZaPretragu==true'>

 
 <div *ngIf='dodatBroj==false'> 
  <div class="row">
    <div class='col-md-2'>Filtriraj po jedinstvenom broju</div>
    <div class='col-md-4'><input type="text" [(ngModel)]='jedinstveniBroj'></div>
  </div>
</div>

  <div class='table-responsive'>
    <table class='table'
           *ngIf='filtriraniPacijenti'>
      <thead>
        <tr>
          <th>Ime pacijenta</th>
          <th>Prezime pacijenta</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor='let pregled of filtriraniPacijenti'>
         
          <td>{{pregled.ime }}</td>
          <td>{{pregled.prezime }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class='card'>
  <div class='card-body'>
      <button (click)='onBack()' class="btn btn-info">Nazad na lekara</button>
  </div>
</div>



