<div class='card'>
    <div class='card-body'>
    <h1>Home page</h1>
    <form  #lekarForm="ngForm">
        <div class='table-responsive'>
        <table class="table">
            <tr>
                <td>Ime</td>
                <td>{{lekar.ime}}</td>
            </tr>
            <tr>
                <td>Prezime</td>
                <td>{{lekar.prezime}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{lekar.email}}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>{{lekar.password}}</td>
                <td><button class="btn btn-info" (click)='izmeniPassword()'>Promeni password</button></td>
            </tr>
            <tr>
                <td>Grad</td>
                <td>{{lekar.grad}}</td>
            </tr>
            <tr>
                <td>Drzava</td>
                <td>{{lekar.drzava}}</td>
            </tr>
            <tr>
                <td>Adresa</td>
                <td>{{lekar.adresa}}</td>
            </tr>
            <tr>
                <td>Telefon</td>
                <td>{{lekar.telefon}}</td>
            </tr>
            <tr>
                <td>Broj osiguranika</td>
                <td>{{lekar.broj_osiguranika}}</td>
            </tr>
            <a (click)="logOut()"  class="btn btn-info">Izloguj se</a> 
            <a (click)="izmeni(lekar)"  class="btn btn-info">Izmeni podatke</a>
        </table>
        </div>
    </form>
    </div>
</div>

<div *ngIf='mozesDaMenjas'>
        <div class='card'>
            <div class='card-body'>
            <h3>Izmena licnih podataka</h3>
        
            <form (ngSubmit)="izmeniLekara()" #lekarForm="ngForm" class="formLekar">
                <table>
                    <tr>
                        <td>Ime</td>
                        <td><input type="text" name="ime" #ime="ngModel" [(ngModel)]="lekar.ime"></td>
                       
                    </tr>
                    <tr>
                        <td>Prezime</td>
                        <td><input type="text" name="prezime" #prezime="ngModel" [(ngModel)]="lekar.prezime"></td>
                    </tr>
                            <tr>
                                    <td>Grad</td>
                                    <td><input type="text" name="grad" #grad="ngModel" [(ngModel)]="lekar.grad"></td>
                                </tr>
                                <tr>
                                    <td>Drzava</td>
                                    <td><input type="text" name="drzava" #drzava="ngModel" [(ngModel)]="lekar.drzava"></td>
                                </tr>
                                <tr>
                                    <td>Adresa</td>
                                    <td><input type="text" name="adresa" #adresa="ngModel" [(ngModel)]="lekar.adresa"></td>
                                </tr>
                                <tr>
                                        <td>Telefon</td>
                                        <td><input type="text" name="tel" #tel="ngModel" [(ngModel)]="lekar.telefon"></td>
                                    </tr>
                                    <tr>
                                    <td><input type="submit" value="Izmeni" class="btn btn-info"></td>
                                    <input type="button" value="Ponisti" class="btn btn-info" style="margin-left: 15px;" (click)='ponisti()'>
                                        </tr>
                </table>
            </form>
            </div>
            </div>
</div>



<div *ngIf='mozesDaMenjasPass'>
    <div class='card'>
        <div class='card-body'>
            <h3>Promena passworda: <span *ngIf="greskaZaPass" style="color: red;">Molimo unesite validnu staru lozinku!</span></h3> 
            <div class='table-responsive'>
                <form class="formLekar" (ngSubmit) = "onSubmitIzmeniPass()" #izmenaPassForm="ngForm">
                    <label>Unesite stari password</label>
                    <input type="text" placeholder="stari password" required name="stariPasswordName" #stariPasswordName="ngModel" [(ngModel)] = "stariPassword">
                    <label>Unesite novi password</label>
                    <input type="password" placeholder="novi password" required name="noviPasswordName" #noviPasswordName="ngModel" [(ngModel)] = "noviPassword">
                    <input type="submit" value="Izmeni" class="btn btn-info">
                </form>
            </div>
        </div>
    </div>
</div>


