<div class="card">
    <div class="card-body">
        <h2>Kreiranje zahteva za godisnji odmor ili odsustvo</h2>
        <form class="dodajZahtev" (ngSubmit) = "onSubmit()" #pregledForm="ngForm">            
            <label class="label">Datum pocetka: </label>
            <input type="datetime-local" required name="datumIVremeP" #datumIVremeP="ngModel" [(ngModel)] = "zahtevZaPoslati.datumPocetka" [value]="datumPocetka"> {{ zahtevZaPoslati.datumPocetka }}

            <br>
            <label class="label">Datum zavrsetka: </label>
            <input type="datetime-local" required name="datumIVremeZ" #datumIVremeZ="ngModel" [(ngModel)] = "zahtevZaPoslati.datumZavrsetka" [value]="datumZavrsetka"> {{ zahtevZaPoslati.datumZavrsetka }}

            <br>
            <input type="submit" value="Posalji zahtev" class="btn btn-info">
        </form>
    </div>
    
</div>

<div class='card'>
    <div class='card-body'>
        <button (click)='onBack()' class="btn btn-info">Nazad</button>
    </div>
</div>
