<div class="card">
  <div class="card-header">
    <h1>Dobrodosli na pocetnu stranicu klinickog centra </h1>
  </div>

  <div class="topnav">
    <a routerLink="/signup" class="btn btn-info" style="margin:15px;">Registracija</a>
    <!-- <a  routerLink="/napraviKliniku" class="btn btn-info">Dodavanje Klinike</a> -->
    <a routerLink="/login" class="btn btn-info" style="margin:15px;">Logovanje</a>
  </div>
</div>



<!-- 
<h1>Dobrodosli na stranicu klinickog centra </h1>
<div class="topnav">
   
        <a routerLink="/signup" class="btn btn-info">Registracija</a> -->
        <!-- <a  routerLink="/napraviKliniku" class="btn btn-info">Dodavanje Klinike</a> -->
        <!-- <a routerLink="/login" class="btn btn-info">Logovanje</a>
</div> -->